[v-cloak] {
    display:none;
}

/* ファイルアップロード */
#dad-area {
    margin-top: 30px;
    padding: 30px;    
}
.is-dadable {
    border:3px dotted rgba(0,200,0,0.7);
}
.is-selected {
    border:3px dotted gray;
    background-color: #ccc;
}
#dad-area p {
    padding: 5px 0;
}